# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/ios/
mobile/android/
mobile/linux/
mobile/macos/
mobile/windows/
mobile/web/
mobile/.metadata

# IDX

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
